p {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
    color: #032396;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}