
<h1><%= titulo %></h1>
<form action="/nuevo-comentario" method="POST">
    <label for="comentario">Comentario:</label>
    <input type="text" id="comentario" name="comentario" required>
    <button type="submit">Enviar</button>
</form>

